.App{
    background: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    padding-top: 60px;
    padding-bottom: 20px;
    min-height: 100vh;
}

.App h1, footer{
    text-align: center;
}

.App h1{
    margin-bottom: 50px;
    font-family: 'New Tegomin', serif;
    font-weight: 600;
}