.App{
    background: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    padding-top: 60px;
    padding-bottom: 10px;
    min-height: 100vh;
    padding-left: 20px;
    padding-right:20px;
    width: 100%;
    min-width: 600px;
    max-width: 100%;
    overflow-x: hidden;
    
}

.App footer{
    text-align: center;
}

.App .Title, .MainHeading{
    font-weight: 600;
    text-align: center;
}

.App .Title{
    padding-left:15px;
    padding-right:15px;
}

.App .MainHeading {
    text-transform: uppercase;
    color:black;
    font-family: 'New Tegomin', serif;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 5px;
    animation: swing ease-in-out 1s infinite alternate;
  }
  

.App footer {
    margin-top: 20px;
}


@media(min-width:997px){


.App .MainHeading {
    margin-bottom: 50px;
}
    }

    @media(max-width:935px){
        
        .App{
            padding-top: 30px;
        }
        .App .MainHeading{
            margin-bottom: 10px;
        }
            }
        
            @media(max-width:414px){
                .App .Title {
                    font-size: 40px;
                    line-height: 45px;
                }
                    }
                
