.DictionarySearch{
    max-width: 920px;
    margin: 40px auto;
}

.DictionarySearch form {
    text-align: center;
    margin: 0 auto;
    font-family: 'New Tegomin', serif;
    width: 75%;
}

.DictionarySearch input {
    line-height: 27px;
    font-size: 22px;
    display: inline;

}

.DictionarySearch .SearchEngine {
    box-shadow: 0px 5px 15px rgba(105, 95, 95, 0.2);
    width: 67%;
}

.DictionarySearch .SearchSuggestions{
    margin-right: 0 auto;
    font-size: 20px;

}

.DictionarySearch .SearchSubmitBtn {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    background-color: rgb(185, 183, 183);
}

@media(max-width:768px){

    .DictionarySearch form {
        width: 100%;
        line-height: 30px;
        font-size: 28px;
    }
}

