.Gallery img {
    display: block;
    border-radius: 4px;
    margin: 0 auto;
}

@media(max-width:767px){
    .Gallery img{
        width: 70%;
        margin: auto;
        padding-bottom: 8px;
    }
        }
    




