
.Phonetics audio{
    display: inline;
    vertical-align: middle;
    float: right;
    width: 400px;
}

.Phonetics .phonetics-text {
    font-family: 'New Tegomin', serif;
    vertical-align: middle;
    font-size: 25px;
    margin-top: 15px;
 
}

@media(max-width:768px){

    .Phonetics audio {
        width: 40%;
    }
}