
.Results{
    margin: 0 auto;
}

.Results p{
    margin-bottom: 20px;
}

.Results .card {
    max-width: 960px;
}

.Results h2{
    font-family: 'New Tegomin', serif;
}

.EmptyResults {
    background: transparent;
    margin: auto 10px;
    width: auto;
    height: 2000px;
}