.Synonyms .btn{
    transition: all 300ms ease-in-out;
}

.Synonyms .btn:hover {
    cursor: pointer;
    background:#6BBBFF;
    color: white;
}

@media(max-width:767px){
    .Synonyms .CopySuggestion{
        color:blue;
    }
}